.verifica_produto {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .verifica_produto_imagem {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  .verifica_produto_info {
    padding-left: 20px;
  }
  
  .verifica_produto_info > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  
  .verifica_produtot_avaliacao {
    display: flex;
  }
  
  .verifica_produto_titulo {
    font-size: 17px;
    font-weight: 800;
  }